<a href="https://colab.research.google.com/github/2303A51672/ADM-Lab/blob/main/lab6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [4]:
df = pd.read_csv('/content/university_student.csv')

In [5]:
print("Dataset:\n", df)

Dataset:
     Student ID  Gender Date of Birth  Study Time Grade School Type  Absences  \
0            1    Male    1996-12-03          11     D      Public         2
1            2  Female    2001-09-15           5     D     Private         0
2            3    Male    2002-08-09           8     A     Private         2
3            4    Male    1999-04-29           8     A     Private         3
4            5    Male    1995-06-11           9     B     Private         1
..         ...     ...           ...         ...   ...         ...       ...
95          96  Female    2004-12-04           8     C      Public         1
96          97  Female    2003-01-18           7     B     Private         4
97          98  Female    1999-01-24          14     A     Private         2
98          99  Female    2005-04-20           7     B     Private         1
99         100    Male    2004-12-25           7     B     Private         2

    Math Score  Reading Score  Writing Score
0           72             91             69
1           66             58             62
2           75             99             77
3           57             76             97
4           78             51             78
..         ...            ...            ...
95          87             85             88
96          56             76             87
97          95             66             83
98          62             58             87
99          89             82             99

[100 rows x 10 columns]

In [6]:
for column in df.select_dtypes(include=['number']).columns:
    df[column].fillna(df[column].mean(), inplace=True)

<ipython-input-6-089c2449831a>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[column].fillna(df[column].mean(), inplace=True)

In [8]:
if 'gender' in df.columns:
    df = pd.get_dummies(df, columns=['gender'], drop_first=True)
if 'school_type' in df.columns:
    df = pd.get_dummies(df, columns=['school_type'], drop_first=True)

In [9]:
label_encoder = LabelEncoder()
df['Grade'] = label_encoder.fit_transform(df['Grade'])

In [12]:
df['Date of Birth'] = pd.to_datetime(df['Date of Birth'])
current_year = pd.Timestamp.now().year
df['Age'] = current_year - df['Date of Birth'].dt.year
df['Total Score'] = df['Math Score'] + df['Reading Score'] + df['Writing Score']

In [13]:
grouped_df = df.groupby('Grade')['Total Score'].mean().reset_index()
print("Grouped and Aggregated Data:\n", grouped_df)

Grouped and Aggregated Data:
    Grade  Total Score
0      0   232.535714
1      1   215.500000
2      2   230.428571
3      3   227.304348
4      4   210.062500