<a href="https://colab.research.google.com/github/2303A51672/ADM-Lab/blob/main/labexam_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [5]:
uni = pd.read_csv("/content/university_student.csv")

In [7]:
print("First 10 rows:")
print(uni.head(10))

First 10 rows:
   Student ID  Gender Date of Birth  Study Time Grade School Type  Absences  \
0           1    Male    1996-12-03          11     D      Public         2
1           2  Female    2001-09-15           5     D     Private         0
2           3    Male    2002-08-09           8     A     Private         2
3           4    Male    1999-04-29           8     A     Private         3
4           5    Male    1995-06-11           9     B     Private         1
5           6  Female    1995-07-21          11     A     Private         1
6           7    Male    2000-06-04          11     C      Public         4
7           8    Male    1997-09-22          15     D     Private         1
8           9    Male    2001-05-06           8     A      Public         4
9          10  Female    2005-10-09          11     A     Private         5

   Math Score  Reading Score  Writing Score
0          72             91             69
1          66             58             62
2          75             99             77
3          57             76             97
4          78             51             78
5          75             54             62
6          59             78             95
7          75             86             84
8          83             87             55
9         100             68             67

In [8]:
print("\nMissing values:")
print(uni.isnull().sum())
uni.fillna(method='ffill', inplace=True)

Missing values:
Student ID       0
Gender           0
Date of Birth    0
Study Time       0
Grade            0
School Type      0
Absences         0
Math Score       0
Reading Score    0
Writing Score    0
dtype: int64

<ipython-input-8-30a5cdc73a56>:3: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  uni.fillna(method='ffill', inplace=True)

In [9]:
uni_encoded = pd.get_dummies(uni, columns=['Gender', 'School Type'])
print("\nDataset after one-hot encoding:")
print(uni_encoded.head())

Dataset after one-hot encoding:
   Student ID Date of Birth  Study Time Grade  Absences  Math Score  \
0           1    1996-12-03          11     D         2          72
1           2    2001-09-15           5     D         0          66
2           3    2002-08-09           8     A         2          75
3           4    1999-04-29           8     A         3          57
4           5    1995-06-11           9     B         1          78

   Reading Score  Writing Score  Gender_Female  Gender_Male  \
0             91             69          False         True
1             58             62           True        False
2             99             77          False         True
3             76             97          False         True
4             51             78          False         True

   School Type_Private  School Type_Public
0                False                True
1                 True               False
2                 True               False
3                 True               False
4                 True               False

In [14]:
print(uni.columns)
match_stats = uni['Student ID'].agg(['mean', 'median', 'std'])
print("\nMatch Score Statistics:")
print(match_stats)

Index(['Student ID', 'Gender', 'Date of Birth', 'Study Time', 'Grade',
       'School Type', 'Absences', 'Math Score', 'Reading Score',
       'Writing Score'],
      dtype='object')

Match Score Statistics:
mean      50.500000
median    50.500000
std       29.011492
Name: Student ID, dtype: float64

In [15]:
school_counts = uni['School Type'].value_counts()
print("\nTotal number of students per School Type:")
print(school_counts)

Total number of students per School Type:
School Type
Private    59
Public     41
Name: count, dtype: int64